<div class="large-12 small-12 float-left columns on-sale">
	<div id="on-sale">
	{{ product.variation_field_product_image}}
	{{ product.add_to_cart_link }}
	<span class="ribbon3"><div class="list-price">{{ product.variation_list_price }}</div>
	<div class="sale-price">{{ product.variation_price }}</div></span>
	</div>
	<div class="on-sale-title serif">{{ product.field_display_name.0 }}</div>
</div>